<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tuniwander_logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tuniwander_logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProjet">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MiniProjet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".SignInActivity" android:exported="false" />
        <activity android:name=".SignUpActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".ListeLieuxActivity" android:exported="false" />
        <activity android:name=".DetailActivity" android:exported="false" />
        <activity android:name=".ReservationActivity" android:exported="false" />
        <activity android:name=".ProfilActivity" android:exported="false" />
        <activity android:name=".TouristeProfilActivity" android:exported="false" />
        <activity android:name=".GuideProfilActivity" android:exported="false" />
        <activity android:name=".AgenceProfilActivity" android:exported="false" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".RatingActivity" android:exported="false" />
        <activity android:name=".AddEditLieuActivity" android:exported="false" />
        <activity android:name=".ManageLieuxActivity" android:exported="false" />
        <activity android:name=".ManageUsersActivity" android:exported="false" />
        <activity android:name=".ManageReservationsActivity" android:exported="false" />
        <activity android:name=".SendNotificationActivity" android:exported="false" />
        <activity android:name=".ManageGuidesActivity" android:exported="false" />

    </application>

</manifest>